@model List<ResultSliderDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">One Cikan Alan Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">One Cikan Alan Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							One Cikan Alan ile ilgili islemleri asagidan gerceklestirebilirsiniz
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Baslik1</th>
									<th scope="col">Aciklama1</th>
									<th scope="col">Baslik2</th>
									<th scope="col">Aciklama2</th>
									<th scope="col">Baslik3</th>
									<th scope="col">Aciklama3</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td> @item.SliderId </td>
										<td>@item.Title1</td>
										<td>@item.Description1</td>
										<td>@item.Title2</td>
										<td>@item.Description2</td>
										<td>@item.Title3</td>
										<td>@item.Description3</td>
										<td> <a href="/Slider/DeleteSlider/@item..SliderId" class="btn btn-outline-danger">SIL</a> </td>
										<td> <a href="/Slider/UpdateSlider/@item..SliderId" class="btn btn-outline-success">GUNCELLE</a> </td>
									</tr>
								}

							</tbody>
						</table>
						<a href="/Slider/CreateSlider/" class="btn btn-outline-primary">Yeni One Cikan Alan Girisi</a>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

